.createPage {
  text-decoration: none !important;
}

.linkToCreate {
  margin-top: 5% !important;
  margin-left: -0.5% !important;
}

.pages {
  display: flex;
  flex-flow: column;
  color: white;
}

.containerEditor {
  color: white;
}

.image {
  float: right !important; /* Выравнивание по правому краю  */
  margin: 7px 0 7px 7px !important; /* Отступы вокруг картинки */
  width: 30%;
}

.content {
  color: white;
  display: flex;
  flex-flow: column;
  width: 80%;
  margin: 0 1;
}

.image,
.text {
  display: none     ;
  max-height: 100%;
}
