.postMessage {
  display: flex;
  flex-flow: row;
}

.textMessage,
.postBut {
  height: 30px !important;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  margin-right: 5px;
  margin-left: -25px !important;
}

.postBut {
  /* Убрирает обводку  */
  outline: 0 !important;
  outline-color: transparent !important;
  outline-width: 0 !important;
  outline-style: none !important;
  box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important;
  line-height: 0 !important;
}

.textMessage {
  width: 160px !important;
  margin-right: 30px !important;
}

.bodyChatDialog {
  display: flex;
  flex-flow: column !important;
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 500px !important;
  scrollbar-width: thin; /* "auto" или "thin"  */
  scrollbar-color: rgb(0, 119, 255) white; /* плашка скролла и дорожка */
}
