.chatMain {
  color: black;
  display: flex !important;
  flex-flow: column;
  max-width: min-content !important;
  z-index: 100;
  margin-right: 5% !important;
}

.chatBody {
  border: 3px solid transparent;
  border-radius: 15px;
  border-color: white;
  background-color: white;
  display: none;
  position: absolute;
  top: 50px !important;
  left: 66%;
  width: 300px;
  max-width: 300px !important;
  padding: 1px 1px 1px 1px !important;
}

.chatButton {
  margin-right: 50%;
  width: 50px;
  color: rgb(0, 119, 255);
  font-weight: bold;
  text-shadow: 51px !important;
}
.chatButton,
.addIcon,
.allButton,
.myButton:hover {
  cursor: pointer;
}
.addIcon,
.updateIcon,
.backIcon {
  margin-bottom: 5px !important;
  margin-right: 20px;
}

.panel {
  color: rgb(0, 119, 255);
  display: flex;
  flex-flow: row;
  width: 300px;
  border: solid transparent;
  border-color: rgb(0, 119, 255) !important;
  border-width: 2px 2px 0px 3px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding-top: 10px;
}

.content {
  color: rgb(0, 119, 255) !important;
  font-weight: bold;
  width: 100% !important;
  border: 2px solid transparent;
  border-color: rgb(0, 119, 255) !important;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.backIcon {
  margin-top: -5px;
}
