.checkLogin {
  display: flex;
  width: max-content !important;
  margin-left: 85% !important;
  margin-top: -5% !important;
  color: white;
}

.checkLogin a {
  text-decoration: none;
  position: absolute;
}

.acc {
  width: 100px !important;
}
