.checkLogin {
  display: flex;
  width: 200px !important;
  margin-left: 85% !important;
  margin-top: -5% !important;
  color: white;
}

.checkLogin a {
  text-decoration: none;
  position: absolute;
  /* z-index: 1 !important; */
}
