
@font-face {
  font-family: "Open Sans";
  src: url(../font/OpenSans-Bold.ttf);
}
.maincard {
  background-color: transparent;
  border: none;
}
.maincard .cardlink {
  font-family: "Open Sans", sans-serif;
  font-size: 16pt;
  text-shadow: 2px 2px 1px #000;
  top: 50%;
  cursor: pointer;
  text-decoration: none;
  color: white;
  -webkit-transition: all 0.9s ease;
  transition: all 0.9s ease;
}
.cardlink:hover {
  text-decoration: none;
  color: yellow;
  -webkit-transition: all 0.9s ease;
  transition: all 0.9s ease;
}
.header {
  background-color: transparent !important;
}
.tags {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 400px;
  padding: 0% 0% 0% 0%;
  margin: 5% 0% 0% 0%;
  padding-top: 5% !important;
  /* background-color: #ffffff10; */
  /* backdrop-filter: blur(1px); */
  /* -webkit-backdrop-filter: blur(12px); */
}
.tags div {
  padding-block-end: 100px;
  margin-left: -10% !important;
}

.text {
  font-family: "Open Sans", sans-serif;
  font-size: 10pt;
  color: white;
  margin-top: 100px;
  text-shadow: 1px 1px 1px #000;
}

nav div {
  padding: 0 0 0 0 !important;
}
