.login {
  display: flex;
  flex-flow: column;
  /* justify-content: flex-start; */
  width: 150px;
}

.post {
  display: flex;
  justify-content: center !important;
  color: white;
  width: 160px;
  height: 40px;
  margin-top: 7% !important;
  margin-left: 7% !important;
  /* text-align: justify !important; */
}
.auth {
  margin: 10px 10px 0px -5px;
  width: 155px;
  height: 12vh;
}

.auth button {
  padding-top: 0vh;
}

.toReg {
  text-decoration: none;
  color: white;
  margin-left: 3.5vw;
}


