.message,
.myMessage {
  color: black;
  font-size: 9pt;
  border: 2px solid transparent;
  border-color: rgb(0, 119, 255) !important;
  border-radius: 5px;
  margin-top: 5px;
  margin-left: 0px !important;
  width: 150px !important;
  height: min-content !important;
}
.message {
  float: left !important;
}
.myMessage {
  margin-left: 150px !important;
}

.dataMessage {
  padding: 0% !important;
  width: 100% !important;
  height: 25% !important;
  display: flex;
  flex-flow: row-reverse nowrap;
  justify-content: space-between !important;
}

.nick,.date{
  font-size: 8pt !important
}
