.room {
  color: rgb(0, 119, 255);
  border: solid transparent rgb(0, 119, 255);
  border-bottom: 3px;
}

.createRoom {
  margin-top: 5px !important;
  display: flex;
  flex-flow: row wrap;
}

.accept {
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
  border-top-left-radius: 0 !important ;
  border-bottom-left-radius: 0 !important;
  height: 20px;
  padding-bottom: 10px !important;
  margin-top: 5px !important;
  line-height: 0 !important;
}
.accept,
.cancel {
  /* Убрирает обводку  */
  outline: 0 !important;
  outline-color: transparent !important;
  outline-width: 0 !important;
  outline-style: none !important;
  box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important;
}

.cancel {
  height: 20px;
  width: 230px;
  padding-bottom: 10px !important;
  margin-top: 5px !important;
  line-height: 0 !important;
}

.textThemeRoom {
  height: 20px;
  width: 145px !important;
  margin-top: 5px !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-top-left-radius: 5px !important ;
  border-bottom-left-radius: 5px !important;
}

.room {
  display: flex;
  flex-flow: column;
  cursor: pointer !important;
  border-bottom: 3px solid transparent rgb(0, 119, 255);
}
