.searchButton {
  outline: 0 !important;
  outline-color: transparent !important;
  outline-width: 0 !important;
  outline-style: none !important;
  box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important;
  line-height: 0 !important;
  width: 200px;
}

.number-episod {
  height: 30px !important;
}

.video {
  height: 500px !important;
  width: 600px !important;
}

._iframe {
    padding-right: 100px !important;
    width: 640px !important;
    height: 360px !important;
}
